<li>
    {{name}}
    ${{price}}
    {{type}}
    <button class="editDrink btn btn-light" data-id="{{id}}">Edit Drink</button>
    <button class="deleteDrink btn btn-danger" data-id="{{id}}">Delete</button>
</li>