    <div class="drinkListItem" id="drink{{id}}">
    <p>Name: {{name}}</p>
    <p>Price: ${{price}}</p>
    <p>Type: {{type}}</p>
    <button class="editDrink btn btn-light" data-id="{{id}}">Edit Drink</button>
    <button class="deleteDrink btn btn-danger" data-id="{{id}}">Delete</button>
    </div>