<li>
    {{name}}
    {{price}}
    {{type}}
    <button class="addDrinks btn btn-light" data-id="{{id}}">Edit Drink</button>
    <button class="deleteBrewery btn btn-danger" data-id="{{id}}">Delete</button>
</li>